*{
	margin:0px;
	padding:0px;
}
header,div,section,ul,li,a{
	box-sizing:border-box;
}

header{
background-color:#ffffff;
    height:70px;
	width:100%;
	display:flex;
	justify-content:space-between;
	position:fixed;
	top:0px;
}
header img{
	padding:8%;
}
#menu li{
	list-style:none;
	display:inline-block;
	margin:20px;
}
#menu li a{
	color:#000000;
	text-decoration:none;
	font-size:20px;
}
section{
	width:100%;
	height:100vh;
	float:left;
}
.site-section{
	positon:absolute;
	color:#ffffff;

}
.image-content{
	background-image: url("bg_layer.png");
	background-repeat:no-repeat;
	background-position:center;
	height:720px;
	width:100%;
	text-align:center;
	
}
.quote{
    font-size:20px;
	font-weight:lighter;
	position:relative;
	top:45%;
}
.heading{
   font-size:40px;
    font-family:"Courier New";
	color:#139139;
	text-align:center;
	padding-top:8%;
}
.idk{
	font-style:Courier;
	text-align:center;
	}
.card{
    width:30%;
	padding-left:20%;
	padding-top:5%;
	height:300px;
    float:left;
	text-align:center;
}
.card p{
	font-size:14px;
	width:300px;
}
.card img{
    height:250px;
	width:350px;
	
}
.cards{
    
    height:275px;
	width:25%;
	padding:5px;
	float:left;
	text-align:center;
}
.cards p{
	font-size:12px;
}
.cards img{
   height:150px;
	width:200px;
}

.ourloc{
	font-weight:700;
	float:right;
	padding-right:39%;
}
.location{
	padding-left:50%;
	float:right;
}
.cu{
margin:0px;
	padding-left:50%;
}
.detail{
	padding-left:50%;
}
.footer{
    position:sticky;
	bottom:0px;
	background-color:#139139;
	height:70px;
	width:100%;
	position:fixed;
	bottom:0px;
}
.copyright{
padding-left:50px;
padding-top:25px;
	color:#ffffff;
}
.footer img{
	height:20px;
	width:20px;
	float:right;
	padding-bottom:30px;
	padding-right:20px;
}

 
